.home-text {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 100%;
  margin: auto;
  transform: translateX(-50%);
  text-align: center;
  z-index: 3; 
  justify-content: center;
}

.home-badges {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
}
.badge {
    background: linear-gradient(135deg, #00bcd4, #0097a7);
    color: white;
    padding: 6px 10px;
    border-radius: 8px;
    font-size: 0.8rem;
    letter-spacing: 0.3px;
}
.badge:hover{
  background: linear-gradient(120deg, #503018, #0097a7);
  transform: scale(1.05);
  transition: transform .4s ease;
}
.home-title{
    font-size: 1.75rem;
    font-weight: 700;
    color: #837c74; 
    line-height: 3rem;
    width: 100%;
    min-width: 300px;
    margin: 1rem auto;
}
.home-description {
    font-size: 1.1rem;
    max-width: 80%;
    color: #005b66;
    line-height: 2;
    width: 100%;
    margin: 0 auto;
}
.light-glow {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  pointer-events: none;
  mix-blend-mode: screen;
  opacity: 0.6;
  filter: blur(60px);
  transition: background 0.2s ease;
  z-index: 0;
}

/* === RESPONSIVE DESIGN === */
@media only screen and (max-width: 1024px) {
  .home-image img {
    width: 40vw;
  }
}
#handwrite-mount {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 10%;
  position: relative;
  display: flex;
  overflow: hidden;
  background: transparent;
  margin: auto;
  text-align: center;
}