.menu-icon{
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem;
    transition: transform 0.3s ease, opacity 0.3s ease;
    border: none;
    background: none;
    z-index: 999;
}
.menu-icon_right{
    position: absolute;
    right: 1rem;
    margin-left: auto;
    margin-right: 0;
}
.menu-icon_left{
    position: absolute;
    left: 1rem;
    margin-left: 0;
    margin-right: auto;
}
.menu-icon_rotated svg{
    transform: rotate(90deg) scale(1.05);
    opacity: 0.8;
}
.menu-locked {
  overflow: hidden;
  position: fixed;
  width: 100%;
}
.menu-icon_rotated svg{
    transform: rotate(90deg) scale(1.05);
    opacity: 0.8;
}