.quick-links {
    display: flex;
    flex-wrap: wrap;
    
}
.quick-link{
    color: rgba(255,255,255,0.9);
    text-decoration: none;
    font-weight: 500;
    transition: all .3s ease-in-out;
    padding: 3px;
    border-radius: 0px;
}
.quick-link:hover {
  transform: translateY(0px);
  /* background: rgba(255, 255, 255, 0.15); */
}

@media only screen and (max-width: 600px){
    .quick-links {  
        flex-direction: column;
        gap: 1rem;
    }
    .social-icon img,.social-icon svg {
        width: 2rem;
        height: 2rem;
  }
}
@media only screen and (min-width: 600px){}
@media only screen and (min-width:800px){
    .quick-links {
        flex-direction: row;
        gap: 1.5rem;
    }
    .quick-link:hover {
        color: #f5f7f7;
        border-bottom: 1px solid rgb(141, 128, 190);
        transform: translateY(-3px);
    }
}
@media only screen and (min-width: 1000px){}
