.slider-section {
  width: min(50vw,100%);
  height: max(30%,30vh);
  overflow: hidden;
  background: transparent;
  margin: auto;
  height: 100%;
}
.horizontal {
  flex-direction: row;
}
.vertical {
  flex-direction: column;
}
.slider-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.slider-track {
  display: flex;
  align-items: center;
  will-change: transform;
}
@media only screen and (max-width: 800px){
    .slider-section {
        width: 80vw;
        height: 100vh;
    }
}