.about-shape_container{
    --shape-container-bg-color: rgb(255, 99, 71);
    position: relative;
    height: max(200px, 40vh);
    width: 90%;
    transform: translateX(5%);
    border-radius: 5px;
    margin: 0px;
    margin-bottom: 4%;
    background-color: var(--shape-container-bg-color);
    animation: display-timeline .5s ease-in;
    transition: all .5s;
}
.about-shape_head_container:before  {
    content:'';
    position: absolute;
    top: 35%;
    left: 11%; 
    border-top: 5px solid white;
    width: var(--phase-progress);
    height: 1%;
    transition: all .25s ease-in-out; 
    border-radius: 50px;  
}
@media screen and (min-width: 1000px) {
    .about-shape_container{
        height: max(20vh,10%);
        width: 90%;
        margin: 3%;
    }
    .about-shape_head_container:before  {
        content:'';
        top: 40%;
        left: 11%; 
        border-top: 3px solid white;
        width: var(--phase-progress);
        height: 1%;
        border-radius: 50px;  
    }
}