.cards-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 80vh;
    width: 100vw;
    background: #bcd0d4;
    background: linear-gradient(5deg, rgba(188, 208, 212, 1) 11%, rgba(128, 145, 138, 1) 46%, rgba(255, 255, 255, 1) 100%);
}
.profile-section {
    position: relative;
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    background: #f5f5f5;
    background: linear-gradient(160deg, rgba(245, 245, 245, 1) 0%, rgba(200, 220, 225, 1) 52%, rgba(255, 255, 255, 1) 100%);
}
.content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    perspective: 1000px;
    overflow: hidden;
    transform-style: preserve-3d;
    background: #e6e6e6;
    background: linear-gradient(361deg, rgba(230, 230, 230, 1) 5%, rgba(255, 255, 255, 1) 57%, rgba(37, 104, 122, 1) 86%);
}

@media only screen and (max-width: 800px){

    .cards-section{
        width: 100vw;
        height: 70vh;
        padding-top: 15%;
        margin-top: 25vh;
        margin-bottom: 25vh;
    }
}